body{
	text-align:center;
	top: 100px;
	background: linear-gradient(to right,#fc0202,#0000ff);
	color: rgba(0,0,0, 0.7);
	letter-spacing: .4em;
}

h1{
	font:4em 'Stylish', sans-serif;
	margin-top: 200px;
	size: 3em;
}

h2{
	text-transform: uppercase;
	font: 3em 'Open Sans Condensed', sans-serif;
}

h3{
	font: 2.5em 'Ubuntu', sans-serif;
}

footer{
	margin-top: 350px;
	letter-spacing: 0.1em;
}

h5 {
	letter-spacing: .3em;
	color: white;
}